<div class="h-auto max-w-3xl px-4 m-auto p-4">
    <section class="text-justify text-gray-400 mb-6">
        <span class="font-anek-telugu text xl lg:text-2xl font-bold text-gray-300 max-md:text-xl">My projects</span>
        <p class="text-sm lg:text-md  text-justify quicksand">Here is a selection of my side projects, along with contact and work information.</p>
    </section>
    <section class="flex max-md:flex-col items-start w-full gap-4 text-gray-400 ">     
      <div class="flex-[2] flex flex-col gap-4 text-left">
        <div class="bg-slate-900 p-2 border border-gray-600 rounded-md">
          <ul class="text-md font-bold font-anek-telugu mb-2">
            Side, Projects
          </ul>
          <ul class="flex items-center mb-2">
            <li class="text-sm font-bold font-anek-telugu">
              Design and Implementation of CGOCCL UI
              <p class="text-xs font-normal quicksand">
               For Cargo activities to follow customs declarations.
              </p>
              <p class="text-xs font-normal quicksand">
                Technologies used: Figma, Angular, TypeScript, Tailwind, Java Spring Boot.
               </p>
            </li>
          </ul>

          <ul class="flex items-center mb-2">
            <li class="text-sm font-bold font-anek-telugu">
              FANS4ALL
              <p class="text-xs font-normal quicksand">
                Traffic information between an air traffic controller and HSI
                (Hearing and Speaking Impaired) pilote.
              </p>
              <p class="text-xs font-normal quicksand">
                Technologies used: Figma, React Native.
               </p>
            </li>
          </ul>

          <ul class="flex items-center">
            <li class="text-sm font-bold font-anek-telugu">
              Aerovision Application
              <p class="text-xs font-normal quicksand">
                Android application for visualizing airport data in augmented reality, 
                the application retrieves data from openSky Network and displays planes flying over,
                arriving, departing from the Blagnac airport parking lot.
              </p>
            </li>
          </ul>

        </div>
      </div>
      

  
      <!-- Div pour work et contact, également alignées à gauche -->
      <div class="flex-1 flex flex-col gap-4 text-left">
        <div class="bg-slate-900 p-2 border border-gray-600 rounded-md">
          <ul class="text-md font-bold font-anek-telugu mb-3">
            Side, Works
          </ul>
          <ul class="text-md font-bold font-anek-telugu mb-1 flex items-center space-x-4">
            <li class="text-xs font-bold quicksand flex items-center">
              <img src="/images/Afkl.png" width="25" height="25" class=" mr-1" alt="Air France-KLM picture">
              Air France-KLM
            </li>
            <li class="text-xs font-normal quicksand flex items-center">
              04/24-09/24
            </li>
          </ul>

          <ul class="text-md font-bold font-anek-telugu mb-1 flex items-center space-x-24">
            <li class="text-xs font-bold quicksand flex items-center">
              <img src="/images/logo-siigroup-spain.png" width="25" height="25" class=" mr-1" alt="SII picture">
              SII 
            </li>
            <li class="text-xs font-normal quicksand flex items-center">
              04/24-09/24
            </li>
          </ul>

          <ul class="text-md font-bold font-anek-telugu mb-1 flex items-center space-x-20">
            <li class="text-xs font-bold quicksand flex items-center">
              <img src="/images/ENAC-Bleu.svg" width="25" height="25" class=" mr-1" alt="SII picture">
              ENAC
            </li>
            <li class="text-xs font-normal quicksand flex items-center">
              04/24-09/24
            </li>
          </ul>
          
          
        </div>
        <div class="bg-slate-900 p-2 border border-gray-600 rounded-md">
          <ul class="text-md font-bold font-anek-telugu mb-4">
            Side, Contact
          </ul>

          <ul class="bg-slate-950 p-2 border border-slate-950 rounded-md text-md font-bold font-anek-telugu mb-2 flex items-center space-x-24">
            <li class="text-sm font-bold quicksand flex items-center">
              <img src="/images/gmail.png" width="25" height="25" class="mr-4" alt="My Gmail picture"> 
              &#64;Aisance
            </li>
            <li>
              <a href="mailto:aisanceb@gmail.com" class="group flex items-center justify-center p-0 rounded-full transition duration-300 hover:bg-white hover:bg-opacity-10">
                <mat-icon class="text-sm transition-transform duration-300 group-hover:scale-110">north_east</mat-icon>
              </a>
            </li> 
          </ul>

          <ul class="bg-slate-950 p-2 border border-slate-950 rounded-md text-md font-bold font-anek-telugu mb-2 flex items-center space-x-24">
            <li class="text-sm font-bold quicksand flex items-center">
              <img src="/images/linkedin.png" width="25" height="25" class="mr-4" alt="My Gmail picture"> 
              &#64;Aisance
            </li>
            <li>
              <a href="https://www.linkedin.com/in/aisance-bikoka-30266a254" class="group flex items-center justify-center p-0 rounded-full transition duration-300 hover:bg-white hover:bg-opacity-10" target="_blank" rel="noopener noreferrer">
                <mat-icon class="text-sm transition-transform duration-300 group-hover:scale-110">north_east</mat-icon>
              </a>
            </li>
            
          </ul>

        </div>
      </div>
    </section>
  </div>
  