<!-- Header -->
<app-header class="fixed w-full"></app-header>


<!-- Contenu principal -->
<div class="main-content h-screen overflow-y-auto scroll-snap-y-mandatory pt-16">
    <div class="scroll-snap-y-mandatory flex flex-col">
        <!-- Section Home -->
        <div class=" scroll-snap-start snap-always flex items-center justify-center">
            <app-home></app-home>
        </div>

        <!-- Section Projets -->
        <div class="scroll-snap-start snap-always flex items-center justify-center">
            <app-projets></app-projets>
        </div>

        <!-- Section Tools -->
        <div class="scroll-snap-start snap-always flex items-center justify-center">
            <app-tools></app-tools>
        </div>
    </div>
</div>
