<div class="max-w-3xl px-4 m-auto p-4">  
  <section class="flex flex-col lg:flex-row items-center justify-center">
    <div class="flex-[2] text-gray-400 w-full font-anek-telugu">
      <div class="text-xl lg:text-2xl font-bold text-gray-300 max-md:text-xl">
        I love working on :
      </div>

      <!-- Grid pour les cartes principales (Angular, TailwindCSS, TypeScript) -->
      <div class="flex justify-center">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-6 w-full">
          
          <!-- Angular Card -->
          <div class="p-4 bg-transparent border border-gray-600 rounded-lg text-white w-full">
            <div class="image-container">
              <img src="/images/angular.svg" width="100" height="100" alt="Angular logo" class="mx-auto">
            </div>
            <div class="flex items-center mt-4">
              <img src="/images/angular-icon.svg" width="15" height="15" class="mb-1 mr-4" alt="Angular logo">
              <span class="font-anek-telugu text-lg">Angular</span>
            </div>
            <p class="quicksand text-xs text-gray-400 justify-start">
              Good command of Angular Material.
            </p>
          </div>

          <!-- Tailwind CSS Card -->
          <div class="p-4 bg-transparent border border-gray-600 rounded-lg text-white w-full">
            <div class="image-container">
              <img src="/images/tailwindcss-icon.svg" width="50" height="50" alt="TailwindCSS logo" class="mx-auto">
            </div>
            <div class="flex items-center mt-4">
              <img src="/images/tailwindcss-icon.svg" width="20" height="20" class="mb-1 mr-4" alt="TailwindCSS logo">
              <span class="font-anek-telugu text-lg">TailwindCSS</span>
            </div>
            <p class="quicksand text-xs text-gray-400 justify-start">
              TailwindCSS is one of my best tools for CSS.
            </p>
          </div>

          <!-- TypeScript Card -->
          <div class="p-4 bg-transparent border border-gray-600 rounded-lg text-white w-full">
            <div class="image-container">
              <img src="/images/typescript.svg" width="100" height="100" alt="Typescript logo" class="mx-auto">
            </div>
            <div class="flex items-center mt-4">
              <img src="/images/typescript-icon-round.svg" width="15" height="15" class="mb-1 mr-4" alt="Typescript logo">
              <span class="font-anek-telugu text-lg">TypeScript</span>
            </div>
            <p class="quicksand text-xs text-gray-400 justify-start">
              I often use it for more robust and maintainable code.
            </p>
          </div>
        </div>
      </div>

      <!-- Grid pour Backend et Bootstrap -->
      <div class="mt-4 flex justify-center">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 w-full">
          
          <!-- Backend Card -->
          <div class="sm:col-span-2 p-4 bg-transparent border border-gray-600 rounded-lg text-white w-full">
            <div class="flex flex-col md:flex-row justify-center items-center gap-4">
              <img src="/images/nodejs-icon-alt.svg" width="40" height="40" alt="Node.js logo" class="mx-auto">
              <img src="/images/java.svg" width="40" height="40" alt="Java logo" class="mx-auto">
              <img src="/images/sqlite.svg" width="70" height="70" alt="SQL logo" class="mx-auto">
            </div>
            <div class="flex items-center mt-2">
              <img src="/images/developpement-web.png" width="15" height="15" class="mb-1 mr-4" alt="Backend icon">
              <span class="font-anek-telugu text-lg">Backend</span>
            </div>
            <p class="quicksand text-xs text-gray-400 justify-start">
              I have the necessary knowledge of Node.js, Java, and SQL for backend development.
            </p>
          </div>

          <!-- Bootstrap Card -->
          <div class="sm:col-span-1 p-4 bg-transparent border border-gray-600 rounded-lg text-white w-full">
            <div class="image-container">
              <img src="/images/bootstrap.svg" width="50" height="50" alt="Bootstrap logo" class="mx-auto">
            </div>
            <div class="flex items-center mt-4">
              <img src="/images/bootstrap.svg" width="15" height="15" class="mb-1 mr-4" alt="Bootstrap logo">
              <span class="font-anek-telugu text-lg">Bootstrap</span>
            </div>
            <p class="quicksand text-xs text-gray-400 justify-start">
              Mon deuxième outil après TailwindCSS pour CSS.
            </p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
